<%- include partials/header %>
<%- include partials/nav %>

<section class="hero">
  <div class="hero-body">
    <h1 class="title"><%= album.title %></h1>
    <h2 class="subtitle">by <em><%= album.artist %></em></h2>
  </div>
</section>
<div class="columns">
  <div class="column is-offset-3 is-6">
    <div class="level">
      <div class="level-left">
        <strong class="title">Reviews</strong>
      </div>
      <div class="level-right">
        <a class="button" href="/albums/<%= album.id %>/reviews/new">Add Review</a>
      </div>
    </div>
    <% if(album.reviews[0].content){ %>
      <% album.reviews.forEach(function(review) { %>
        <%- include partials/review-card %>
      <% }) %>
    <% } else { %>
      <div>
        NO REVIEWS YET!
      </div>
    <% } %>
  </div>
</div>

<%- include partials/footer %>
