<%- include partials/header %>
<%- include partials/nav %>

<div class="columns">
  <div class="column is-offset-3 is-6">
    <div class="level">
      <div class="level-left">
        New review for <em><%= album.title %></em>
      </div>
    </div>
    <form class="field" method="POST" action="/albums/<%= album.id %>/reviews/new">
      <div class="control">
        <textarea class="textarea" name="content" placeholder="Let us know your thoughts!"></textarea>
        <div class="columns">
          <% if(locals.session) { %>
            <div class="column is-offset-9">
              <button class="button ">Submit</button>
            </div>
          <% } %>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript" src="/new-review.js"></script>

<%- include partials/footer %>
